$main_font: 'Roboto', sans-serif;
$orange: #ffc200;
$amazon_orange: #ff9900;
$input_background_color: rgb(252, 245, 235);

html {
  scroll-behavior: smooth;
}

#root {
  overflow-x: hidden;
}

// form > div:nth-child(4) > div:nth-child(1) > div > select:nth-child(1) {
//   width: 33%;
// }

// form > div:nth-child(4) > div:nth-child(1) > div > select:nth-child(2) {
//   width: 35%;
//   margin: .5rem;
// }

// form > div:nth-child(5) > div:nth-child(1) > select {
//   width: 80%;
//   margin: .5rem;
// }

// . {
//   margin-bottom: 40px;
// }

h2 {
  font-family: $main_font;
  color: rgb(230, 99, 13);
  margin: 1rem;
}

.selectPokePayment {
  border-radius: 8px;
  // border: 1px solid orange;
  border: 0;
  height: 35px;
  padding: 0px 10px;
  font-size: 15px;
  margin: 5px 5px 0;
  // color: black;
  color: #ffc588;
  background-color: $input_background_color;
  transition: 0.2s;
  cursor: pointer;
  font-family: $main_font;
}

.selectPokePayment.selected {
  color: black;
}


// #color1 {
//   color: $orange;
// }

// #color2 {
//   color: #ffc588;
// }

.capitalized {
  text-transform: capitalize;
  // color: $amazon_orange;
}

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// #color1:focus {
//   color: #0598b3;
// }

.scrolling-box {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.isDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}